// @use './custom' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
}

:root {
  --color-secondary: #003d31;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-header: #5ce4ca;
  --color-font: #003d31;
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-poppins) !important;
  width: 100%;
  overflow-x: hidden;
}

.section1 {
  background-repeat: no-repeat;
  background-color: var(--color-header);
  background-size: cover;
  width: 100%;
  height: 100%;
}

@media (min-width: 992px) {
  .navbar-left {
    margin-left: 10rem !important;
    padding: 1rem;
  }
}

.navbar-left {
  ul {
    li {
      padding: 0rem 1rem !important;
      a {
        font-family: 'Neue Montreal';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: var(--color-font);
      }
    }
  }
}

.navbar-button {
  button {
    margin: 0px 5px;
    &:first-child {
      border: 2px solid black;
    }
    &:last-child {
      background-color: var(--color-black);
      color: var(--color-white);
    }
  }
}

// -------------------------------------
// -------------------------------------
// -------------------------------------

.header-container {
  margin-top: 170px;

  .first-header {
    background-color: var(--color-white);
    margin: auto;
    padding: 16px 32px;
    border-radius: 22px;
    position: relative;

    h1 {
      font-family: 'Neue Montreal';
      font-style: normal;
      font-weight: 500;
      font-size: 72px;
      line-height: 82px;
      text-align: center;
      color: #003d31;

      &::before {
        content: '';
        position: absolute;
        background-image: url('../assets/image/Illustrations\ 2\ UIHUT.png');
        width: 144px;
        height: 144px;
        top: -50%;
        left: -70%;
        border: 1px solid black;
      }

      &::after {
        content: '';
        position: absolute;
        background-image: url('../assets/image/Illustrations\ 1\ UIHUT-2.png');
        width: 144px;
        height: 144px;
        top: 70%;
        right: -70%;
        border: 1px solid black;
      }
    }
  }

  .second-header {
    margin-top: 10px;
    h1 {
      &:first-child {
        background-color: #fffaa4;
        margin: auto;
        padding: 16px 32px;
        border-radius: 22px;
        margin: 0px 5px;
        font-family: 'Neue Montreal';
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 82px;
        text-align: center;
        color: #003d31;
      }
      &:last-child {
        background-color: var(--color-white);
        margin: auto;
        padding: 16px 32px;
        border-radius: 22px;
        margin: 0px 5px;
        font-family: 'Neue Montreal';
        font-style: normal;
        font-weight: 500;
        font-size: 72px;
        line-height: 82px;
        text-align: center;
        color: #003d31;
      }
    }
  }
  p {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #003d31;
  }

  .button-header {
    margin-bottom: 5rem;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      left: -30%;
      bottom: 30%;
      background-image: url(/assets/image/Union-1.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 80px;
      height: 80px;
    }

    &::after {
      position: absolute;
      content: '';
      right: -30%;
      top: 30%;
      background-image: url(/assets/image/Union-2.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 80px;
      height: 80px;
    }

    button {
      padding: 10px 10px;
      margin: 0 30px;

      &:nth-child(1) {
        border: none;
        font-family: 'Neue Montreal';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: #003d31;
        padding: 15px 44px;
        border-radius: 5px;
      }

      &:nth-child(2) {
        border: none;
        background-color: #003d31;
        color: #ffffff;
        border-radius: 5px;
        font-family: 'Neue Montreal';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        padding: 15px 44px;
      }
    }
  }
}

// --------------------------
.section-two {
  margin-top: 10rem;
  margin-bottom: 10rem;
  .details {
    padding-top: 5rem;
    h1 {
      font-family: 'Neue Montreal';
      font-style: normal;
      font-weight: 700;
      font-size: 46px;
      line-height: 52px;
      color: #003d31;

      span {
        color: #5ce4ca;
      }
    }

    p {
      font-family: 'Neue Montreal';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #596966;
      text-align: justify;
    }
  }
}

// --------------------------
.section-three {
  .section-three-header {
    h1 {
      font-family: 'Neue Montreal';
      font-style: normal;
      font-weight: 700;
      font-size: 46px;
      line-height: 52px;
      text-align: center;
      color: #003d31;

      span {
        color: #5ce4ca;
      }
    }
  }

  .items {
    .item {
      background: #fffae9;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-right: 20px;
      padding: 30px 10px;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

      p {
        font-family: 'Neue Montreal';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #5ce4ca;

        span {
          color: #003d31;
          font-weight: 600;
        }
      }
    }
  }
}

// --------------------------
.section-four {
  margin: 10rem 0rem;
  display: flex;

  .items {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .item-one {
      h1 {
        font-family: 'Neue Montreal';
        font-style: normal;
        font-weight: 700;
        font-size: 46px;
        line-height: 52px;
        color: #003d31;

        span {
          color: #5ce4ca;
        }
      }

      p {
        font-family: 'Neue Montreal';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #596966;
      }

      button {
        border: none;
        background-color: #fffaa4;
        padding: 15px 35px;
        border-radius: 12px;
      }
    }

    .item-two {
      margin-left: 7rem;
      width: 470px;
      height: 280px;

      img {
        width: 90%;
        height: 90%;
        object-fit: contain;
      }
    }
  }
}

// --------------------------

.section-five {
  margin: 10rem 0rem;
  background-color: #ff7d7d;
  width: 100vw;
  height: 246px;
  display: flex;
  justify-content: center;
  align-items: center;

  .items {
    display: flex;
    justify-content: space-between;
    position: relative;

    h3 {
      font-family: 'Neue Montreal';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 46px;
      color: #003d31;
    }

    &::before {
      content: '';
      position: absolute;
      background-image: url('/assets/image/sec-five-before.png');
      width: 34px;
      height: 35px;
      top: 13%;
      left: -5%;
    }

    &::after {
      content: '';
      position: absolute;
      background-image: url('/assets/image/sec-five-after.png');
      width: 34px;
      height: 35px;
      top: 13%;
      right: -5%;
    }
  }
}

// --------------------------

.section-six {
  h2 {
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 52px;
    color: #003d31;
    text-align: center;

    span {
      color: #5ce4ca;
    }
  }

  p {
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #596966;
    text-align: center;
  }
}

// ---------------------------

.section-seven {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  .slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s linear;

    .slider-item {
      width: 350px;
      height: 350px;
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding: 20px;

      p {
        font-family: 'Neue Montreal';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #596966;
      }

      .header {
        display: flex;
        gap: 50px;

        .img {
          width: 64px;
          height: 64px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            padding: 10px;
          }
        }

        .title {
          h5 {
            font-family: 'Neue Montreal';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            color: #003d31;
          }

          p {
            font-family: 'Neue Montreal';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #596966;
          }
        }
      }
    }
  }

  .slider-indicators {
    display: flex;
    justify-content: space-evenly;

    .slider-indicator {
      width: 50px;
      height: 3px;
      background-color: black;
      cursor: pointer;

      hr {
        display: none;
      }
    }
  }
}

// --------------------------------

.section-eight {
  background-color: #5ce4ca;
  padding: 100px 0px;

  .left {
    h2 {
      &:nth-child(1) {
        font-family: 'Neue Montreal';
        font-style: normal;
        font-weight: 500;
        font-size: 46px;
        line-height: 52px;
        color: #003d31;
        background-color: #ffffff;
        padding: 20px 20px;
        border-radius: 12px;
        display: inline-block;
      }

      &:nth-child(2) {
        font-family: 'Neue Montreal';
        font-style: normal;
        font-weight: 700;
        font-size: 46px;
        line-height: 52px;
        color: #003d31;
        background-color: #fffaa4;
        padding: 20px 20px;
        border-radius: 12px;
        display: inline-block;
      }
    }
  }

  .right {
    p {
      font-family: 'Neue Montreal';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #003d31;
    }

    button {
      padding: 10px 20px;

      &:nth-child(2) {
        width: 150px;
        height: 50px;
        border-radius: 12px;
        font-family: 'Neue Montreal';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: #003d31;
        transition: all 0.4s linear;

        &:hover {
          background-color: #ffffff99;
        }
      }

      &:nth-child(3) {
        width: 200px;
        height: 50px;
        background: #003d31;
        border-radius: 12px;
        font-family: 'Neue Montreal';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: #ffffff;

        &:hover {
          background: #003d31b3;
        }
      }
    }
  }
}

// ---------------------

.section-nine {
  h2 {
    text-align: center;
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 52px;
    color: #003d31;

    span {
      color: #5ce4ca;
    }
  }

  p {
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #5ce4ca;

    a {
      color: #596966;
    }
  }
}
